@import "../../../variables";

.header {
  align-items: center;
  background-color: $dark;
  display: flex;
  gap: 0.5rem;
  height: $app-header-height;
  justify-content: space-between;
  padding: 0.5rem;
  position: sticky;
  width: 100%;
}
